<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buzzzon</title>
    <style>
        body {
            background-color: #f5f5f5
        }

        .buzzzon-logo {
            max-height: 90px;
            display: block;
            float: left;
        }

        .table {
            text-align: center;
        }

        .table th {
            text-align: center;
        }

        .panel-heading {
            background-color: darkslategray !important;
            color: white !important;
        }

        .btn {
            transition: all 0.5s;
        }

        .logout-btn {
            background-color: darkslategray!important;
            margin: 10px;
        }

        .buzzzon-logo {
            max-height: 90px;
            display: block;
            float: left;
        }
    </style>

</head>
<body>
<img src="/static/images/logo.png" class="buzzzon-logo">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family:-apple-system,BlinkMacSystemFont,
'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
font-size:16px;font-weight:400;line-height:20px;color:#212529;text-align:left;display:flex">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/rooms">Rooms</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Contacts</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chats">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="logout()" style="cursor: pointer">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-5 col-md-offset-1">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">Create Group</div>
                <div class="panel-body">
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default"
                                    id="add-group-button"
                                    onclick="addGroup()"
                                    type="button">Create Group</button>
                            </span>
                        <input type="text" id="group-name-input" class="form-control" placeholder="Group Name">
                    </div><!-- /input-group -->
                </div>

            </div>

        </div>
        <div class="col-md-5">

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">Join Group</div>
                <div class="panel-body">
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default"
                                    id="join-room-button"
                                    onclick="joinGroup()"
                                    type="button">Join Group!</button>
                            </span>
                        <input type="text"
                               id="group-share-code-input"
                               class="form-control" placeholder="Group Share Code">
                    </div><!-- /input-group -->
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">User Groups</div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Group Share Code</th>
                        <th>Group Owner</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</body>
<script>
    if (!$.cookie("userToken"))
        window.location.href = window.location.origin + "/userAuth/";
    const csrf_val = document.cookie.split("csrftoken=")[1];
    // get the groups
    const getGroups = () => {
        $.ajax({
            url: "/api/groups",
            headers: {"X-CSRFToken": csrf_val, 'Authorization': 'Token ' + $.cookie("userToken")},
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                $('tbody')[0].innerHTML = "";
                // generate table rows
                data.map((group) =>
                    $('tbody')[0].innerHTML += `<tr><td>${group.name}</td><td>${group.share_code}</td><td>${group.owner.email}</td></tr>`
                )
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('error')
            }
        });
    };
    getGroups();

    const addGroup = () => {
        // get form data
        const name = document.getElementById("group-name-input");
        // create the group
        $.ajax({
            url: "/api/groups",
            headers: {"X-CSRFToken": csrf_val, 'Authorization': 'Token ' + $.cookie("userToken")},
            type: "POST",
            data: {
                'name': name.value,
            },
            success: function (data, textStatus, jqXHR) {
                getGroups();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('error')
            }
        });
    };

    const joinGroup = () => {
        // get form data
        const shareCode = document.getElementById("group-share-code-input");
        console.log(shareCode.value);
        // join the group
        $.ajax({
            url: "/api/groups/join/" + shareCode.value,
            headers: {"X-CSRFToken": csrf_val, 'Authorization': 'Token ' + $.cookie("userToken")},
            type: "PATCH",
            success: function (data, textStatus, jqXHR) {
                getGroups();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('error')
            }
        });
    };

    $('#add-group-button').click((e) => {
        e.preventDefault();
        addGroup();
    });
    var logout = function () {
        $.removeCookie('userToken', {path: '/'});
        window.location.href = '/userAuth'
    }

</script>
</html>

