<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hi
</body>

<script>
    // Create a new WebSocket
    ws = new WebSocket("ws://127.0.0.1:8001/ws/chat/navid/");
    // Make it show an alert when a message is received
    ws.onmessage = function (message) {
        alert(message.data);
    };
    // Send a new message when the WebSocket opens
    ws.onopen = function () {
        // const message = {"message": "hello world!!", "sender": "ali"};
        ws.send("{\"message\": \"hello world!!\", \"sender\": \"mammalofski\"}");
    }
</script>

</html>

