channels==3.0.5
channels-redis==4.0.0
daphne==3.0.0
Django==4.0
django-allauth==0.52.0
django-eventstream==4.5.0
djangorestframework==3.14.0
dj-rest-auth==2.2.7
gunicorn==20.0.4
psycopg2-binary==2.9.5
